<center>
<h1 id='welcome'>PEPE<img src="/images/pixelpepe.png" class="pepe-logo">PICKER</h1>

<div class="new-game-button">
  <%= form_for @game do |f| %>
  <button type="submit" class="big">NEW GAME</button>
  <% end %>
</div>

<div class="leaderboard-container">
  <!-- <h1>LEADERBOARD</h1> -->
  <table class="leaderboard">
    <tr>
      <th class="playerScore">RANKING</th>
      <th class="playerScore">PLAYER</th>
      <th class="playerScore">SCORE</th>
    </tr>
    <% @games.each do |game| %>
    <% if game.turns >= 20 && @counter <= 5 %>
    <tr>
      <td class="ranking<%= @counter %>"><%= @counter %></td>
      <td class="ranking<%= @counter %>"><%= game.player %></td>
      <td class="ranking<%= @counter %>"><%= game.score %></td>
      <% @counter += 1%>
    </tr>
    <% end %>
      <% end %>
  </table>
</div>
